# Icon Assignment HANS udev-rules file
#
# This rules define defaults icons for devices
# This rules are based on udev-notiy https://code.launchpad.net/~skss/udev-notify/udev-notify
#


ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="cd", ENV{DEVTYPE}=="disk", ENV{ICON}="media-optical", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="usb", ENV{ID_MEDIA_PLAYER}=="[a-z]*", ENV{DEVTYPE}=="usb_device", ENV{ICON}="multimedia-player", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", ENV{DEVTYPE}=="disk", ENV{ID_TYPE}=="disk", \
ENV{ID_DRIVE_FLASH_MS}=="1", ENV{ICON}="gnome-dev-media-ms", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SM}=="1", ENV{ICON}="gnome-dev-media-sm", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \ 
ENV{ID_DRIVE_FLASH_CF}=="1", ENV{ICON}="gnome-dev-media-cf", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="mmc", ENV{ICON}="gnome-dev-media-mmc", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="memstick", ENV{ICON}="gnome-dev-media-ms", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SD}=="1", ENV{ICON}="gnome-dev-media-sdmmc", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SM}=="1", ENV{ICON}="drive-removable-media", GOTO="icon_assignment"

ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ICON}="drive-removable-media-usb", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="net", ENV{DEVTYPE}=="wlan", ENV{ICON}="network-wireless", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="video4linux", ENV{ICON}="camera-web", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_MOUSE}=="1", ENV{ICON}="mouse", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_JOYSTICK}=="1", ENV{ICON}="joystick", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="sound", ENV{ID_TYPE}=="sound", ENV{ICON}="sound", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_BUS}=="usb", ENV{ICON}="modem", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="cdc_acm", ENV{ICON}="modem", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="ipaq", ENV{ICON}="pda", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_KEYBOARD}=="1", ENV{ICON}="gnome-dev-keyboard", GOTO="icon_assignment"

ACTION=="add", ENV{DEVTYPE}=="usb_device", ENV{ID_GPHOTO2}=="1", ENV{ICON}="camera-photo", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="net", ENV{ID_BUS}=="usb", ENV{ICON}="network-wired", GOTO="icon_assignment"


LABEL="icon_assignment"



ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="fe", \
	ATTR{bInterfaceSubClass}=="01", \
	ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/firmware-upgrade", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="fe", \
	ATTR{bInterfaceSubClass}=="02", \
	ATTR{bInterfaceProtocol}=="00", \
	ENV{INTERFACETYPE}="x-usb-device/irda-bridge", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="fe", \
	ENV{INTERFACETYPE}="x-usb-device/application-specific", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="fe", \
        ATTR{bInterfaceSubClass}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/test-and-measurement", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="fe", \
        ATTR{bInterfaceSubClass}=="03", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/usb488-test-and-measurement", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_feh_end"


# USB Base Class 01h (Audio) device HANS udev-rules file
#
# This base class is defined for Audio capable devices that conform to the Audio
# Device Class Specification found on the USB-IF website. That specification
# defines the usable set of SubClass and Protocol values. Values outside of that
# defined spec are reserved. These class codes may only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="01", \
        ATTR{bInterfaceSubClass}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/audio-midi-streaming", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="01", \
        ATTR{bInterfaceSubClass}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/audio-streaming", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="01", \
        ATTR{bInterfaceSubClass}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/audio-control", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_01h_end"

# USB Base Class 0Ah (CDC-Data) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Communications
# Device Class Specification found on the USB-IF website. That specification
# defines the usable set of SubClass and Protocol values.Values outside of that
# defined spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="93", \
	ENV{INTERFACETYPE}="x-usb-device/capi-2.0-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="fe", \
	ENV{INTERFACETYPE}="x-usb-device/cdc-puf-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="31", \
	ENV{INTERFACETYPE}="x-usb-device/hdlc-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="fd", \
	ENV{INTERFACETYPE}="x-usb-device/host-based-data-driver", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="51", \
	ENV{INTERFACETYPE}="x-usb-device/q.921-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="50", \
	ENV{INTERFACETYPE}="x-usb-device/q.921m-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="52", \
	ENV{INTERFACETYPE}="x-usb-device/q.921tm-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="91", \
	ENV{INTERFACETYPE}="x-usb-device/q.932-euroisdn-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="32", \
	ENV{INTERFACETYPE}="x-usb-device/transparent-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="92", \
	ENV{INTERFACETYPE}="x-usb-device/v.120-v.24-rate-isdn-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="90", \
	ENV{INTERFACETYPE}="x-usb-device/v.42bis-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
        ATTR{bInterfaceProtocol}=="ff", \
	ENV{INTERFACETYPE}="x-usb-device/vendor-specific-data", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0a", \
	ENV{INTERFACETYPE}="x-usb-device/cdc-data", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_0ah_end"

# USB Base Class 02h (Communications and CDC Control) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Communications
# Device Class Specification found on the USB-IF website. That specification
# defines the usable set of SubClass and Protocol values. Values outside of that
# defined spec are reserved.  Note that the Communication Device Class spec
# requires some class code values (triples) to be used in Device Descriptors and
# some to be used in Interface Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="07", \
	ENV{INTERFACETYPE}="x-usb-device/atm-networking", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="05", \
	ENV{INTERFACETYPE}="x-usb-device/capi-control", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="09", \
	ENV{INTERFACETYPE}="x-usb-device/device-management", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/direct-line", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="0c", \
        ATTR{bInterfaceProtocol}=="07", \
	ENV{INTERFACETYPE}="x-usb-device/ethernet-emulation", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="06", \
	ENV{INTERFACETYPE}="x-usb-device/ethernet-networking", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="0a", \
	ENV{INTERFACETYPE}="x-usb-device/mobile-direct-line", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="fe", \
	ENV{INTERFACETYPE}="x-usb-device/modem", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="05", \
	ENV{INTERFACETYPE}="x-usb-device/modem-3g", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/modem-at-v.25ter", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="06", \
	ENV{INTERFACETYPE}="x-usb-device/modem-cdma", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="04", \
	ENV{INTERFACETYPE}="x-usb-device/modem-gsm", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/modem-pcca101", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="ff", \
	ENV{INTERFACETYPE}="x-usb-device/modem-vendor-specific", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="04", \
	ENV{INTERFACETYPE}="x-usb-device/multi-channel", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="0b", \
	ENV{INTERFACETYPE}="x-usb-device/obex", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/telephone", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
        ATTR{bInterfaceSubClass}=="08", \
	ENV{INTERFACETYPE}="x-usb-device/wireless-handset-control", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/communications", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_02h_end"

# USB Base Class 0Dh (Content Security) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Content Security
# Device Class Specification found on the USB-IF website. That specification
# defines the usable set of SubClass and Protocol values. Values outside of that
# defined spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0d", \
	ENV{INTERFACETYPE}="x-usb-device/content-security", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_0dh_end"

# USB Base Class DCh (Diagnostic Device) device HANS udev-rules file
#
# This base class is defined for devices that diagnostic devices. There is
# currently only one value defined. All other values are reserved. This class
# code can be used in Device or Interface Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="dc", \
	ENV{INTERFACETYPE}="x-usb-device/diagnostics", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_dch_end"

# USB Base Class 03h (HID – Human Interface Device) device HANS udev-rules file
#
# This base class is defined for devices that conform to the HID Device Class
# Specification found on the USB-IF website. That specification defines the
# usable set of SubClass and Protocol values.   Values outside of that defined
# spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class


ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="03", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="00", \
	ENV{INTERFACETYPE}="x-usb-device/hid", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="03", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/keyboard-hid", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="03", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/mouse-hid", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/hid", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_03h_end"

# USB Base Class 09h (Hub) device HANS udev-rules file
#
# This base class is defined for devices that are USB hubs and conform to the
# definition in the USB specification.  That specification defines the complete
# triples as shown below.  All other values are reserved.  These class codes can
# only be used in Device Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="09", \
        ATTR{bInterfaceSubClass}=="00", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/hub", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
#	

LABEL="usbclass_09h_end"

# USB Base Class 06h (Still Imaging) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Imaging Device
# Class Specification found on the USB-IF website. That specification defines
# the usable set of SubClass and Protocol values.   Values outside of that
# defined spec are reserved.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="06", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/ptp-imaging-device", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="06", \
        ATTR{bInterfaceSubClass}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/still-image-capture", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="06", \
	ENV{INTERFACETYPE}="x-usb-device/imaging-device", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_06h_end"

# USB Base Class 08h (Mass Storage) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Mass Storage Device
# Class Specification found on the USB-IF website. That specification defines
# the usable set of SubClass and Protocol values. Values outside of that defined
# spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="08", \
        ATTR{bInterfaceSubClass}=="06", \
	ENV{INTERFACETYPE}="x-usb-device/usb-mass-storage", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="08", \
	ENV{INTERFACETYPE}="x-usb-device/mass-storage", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_08h_end"

# USB Base Class EFh (Miscellaneous) device HANS udev-rules file
#
# This base class is defined for miscellaneous device definitions. Values not
# shown in the table below are reserved.  The use of these class codes (Device
# or Interface descriptor) are specifically annotated in each entry below.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class


ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="03", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/cable-based-association", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	


ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/interface-association", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/ms-activesync", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/palm-sync", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/wire-adapter-multifunction", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
        ATTR{bInterfaceSubClass}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/miscellanous-common", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="ef", \
	ENV{INTERFACETYPE}="x-usb-device/miscellanous", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_efh_end"

# USB Base Class 0Fh (Personal Healthcare) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Personal Healthcare
# Device Class Specification found on the USB-IF website. That specification
# defines the usable set of SubClass and Protocol values. Values outside of that
# defined spec are reserved. These class codes should only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0F", \
	ENV{INTERFACETYPE}="x-usb-device/personal-healthcare", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_0fh_end"

# USB Base Class 05h (Physical) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Physical Device
# Class Specification found on the USB-IF website. That specification defines
# the usable set of SubClass and Protocol values.  Values outside of that
# defined spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="05", \
	ENV{INTERFACETYPE}="x-usb-device/physical", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_05h_end"

# USB Base Class 07h (Printer) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Printer Device
# Class Specification found on the USB-IF website.  That specification defines
# the usable set of SubClass and Protocol values.  Values outside of that
# defined spec are reserved.  These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="07", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="ff", \
	ENV{INTERFACETYPE}="x-usb-device/printer", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_07h_end"

# USB Base Class 0Bh (Smart Card) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Smart Card Device
# Class Specification found on the USB-IF website. That specification defines
# the usable set of SubClass and Protocol values.Values outside of that defined
# spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0b", \
	ENV{INTERFACETYPE}="x-usb-device/smart-card", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_0bh_end"

# USB Base Class 0Eh (Video) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Video Device Class
# Specification found on the USB-IF website. That specification defines the
# usable set of SubClass and Protocol values. Values outside of that defined
# spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0e", \
        ATTR{bInterfaceSubClass}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/video-control", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0e", \
        ATTR{bInterfaceSubClass}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/video-interface-collection", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0e", \
        ATTR{bInterfaceSubClass}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/video-streaming", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="0e", \
	ENV{INTERFACETYPE}="x-usb-device/video", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_0eh_end"

# USB Base Class E0h (Wireless Controller) device HANS udev-rules file
#
# This base class is defined for devices that are Wireless controllers. Values
# not shown in the table below are reserved. These class codes are to be used in
# Interface Descriptors, with the exception of the Bluetooth class code which
# can also be used in a Device Descriptor. 
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="E0", \
	ATTR{bInterfaceSubClass}=="01", \
	ATTR{bInterfaceProtocol}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/remote-ndis", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="E0", \
	ATTR{bInterfaceSubClass}=="01", \
	ATTR{bInterfaceProtocol}=="04", \
	ENV{INTERFACETYPE}="x-usb-device/bluetooth-amp-controller", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="E0", \
	ATTR{bInterfaceSubClass}=="02", \
	ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/host-wire-control-data", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="E0", \
	ATTR{bInterfaceSubClass}=="02", \
	ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/device-wire-control-data", \
	ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="e0", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/bluetooth-adapter", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="e0", \
        ATTR{bInterfaceSubClass}=="01", \
        ATTR{bInterfaceProtocol}=="02", \
	ENV{INTERFACETYPE}="x-usb-device/ultra-wideband-radio-control", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="e0", \
        ATTR{bInterfaceSubClass}=="02", \
        ATTR{bInterfaceProtocol}=="03", \
	ENV{INTERFACETYPE}="x-usb-device/wireless-usb-wire-adapter", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="e0", \
	ENV{INTERFACETYPE}="x-usb-device/wireless-adapter", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

ACTION=="add", SUBSYSTEM=="usb", \
	ATTR{bInterfaceClass}=="e0", \
        ATTR{bInterfaceSubClass}=="01", \
	ENV{INTERFACETYPE}="x-usb-device/wireless-radio", \
        ENV{HANS_TAG}!="1", \
	ENV{HANS_TAG}="1"
	

LABEL="usbclass_e0h_end"



# USB Base Class FFh (Vendor Specific) device HANS udev-rules file
#
# This base class is defined for vendors to use as they please.  These class
# codes can be used in both Device and Interface Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class


ACTION=="add", SUBSYSTEM=="usb", \
    ATTR{bInterfaceClass}=="ff", \
        ATTR{bInterfaceSubClass}=="42", \
        ATTR{bInterfaceProtocol}=="01", \
    ENV{INTERFACETYPE}="x-usb-device/android-adb", \
        ENV{HANS_TAG}!="1", \
    ENV{HANS_TAG}="1"
    


ACTION=="add", SUBSYSTEM=="usb", \
    ATTR{bInterfaceClass}=="ff", \
    ENV{INTERFACETYPE}="x-usb-device/vendor-specific", \
        ENV{HANS_TAG}!="1", \
    ENV{HANS_TAG}="1"
    

LABEL="usbclass_ffh_end"



ACTION=="add", SUBSYSTEMS=="usb", ENV{DEVTYPE}=="usb_device", \
    ENV{HANS_TAG}!="1", \
    ENV{HANS_TAG}="1", \
	RUN+="/usr/local/bin/hans-launcher /sys$devpath"


